				<!-- salts -->
				<div class="am-g">
					<div class="am-u-sm-12 act-bread-nav-padding">
						<ol class="am-breadcrumb admin-bread-nav am-text-sm">
							<li><a href="/index.php/agent" class="pjax"><span class="am-icon-home"></span> 首页</a></li>
							<li class="am-active">运营商收益列表<span id="title_surffix"><?=$category;?></span></li>
						</ol>
					</div>
				</div>

				<!-- item list -->
				<div class="am-g">
					<div class="act-main-box act-box-shadow act-no-padding">
						<div class="am-panel am-panel-primary">
							<div class="am-panel-bd act-no-padding-bottom ">
								<div class="am-cf">

									<div class="am-u-sm-12 am-u-md-12 am-cf act-no-padding-right act-pb-10" style="padding-right:0px;">
										<div class="am-fr">
											<div class="am-form-inline">

												<div class="am-form-group">
													<select data-placeholder="会员卡类型..." id="search_category" class="chosen-select-deselect" style="width:200px;">
														<option value=""></option>
														<?foreach($cate_list as $v):?>
														<option value="<?=$v->cate_id;?>" <? echo ($cate_id > 0 && $cate_id == $v->cate_id) ? "selected" : "";?>><?=$v->category;?></option>
														<?endforeach;?>
													</select>
												</div>

												<div class="am-form-group">
													<div class="am-input-group am-input-group-sm am-input-group-secondary">
														<input type="text" class="am-form-field" id="search_enterprise" placeholder="输入运营商企业名搜索..." value="<?=$query;?>">
														<span class="am-input-group-btn"><button class="am-btn am-btn-primary" id="btn_agent_search" type="button">搜索</button></span>
													</div>
												</div>

											</div>

										</div>

									</div>

								</div>

								<div id="system-agent-content">
									<table class="am-table am-table-striped am-table-hover admin-bordered-table" style="cursor:default" id='system-agent-list'>
										<thead>
											<tr>
												<th class="table-item-title">运营商</th>
												<th class="table-item-8c">类型</th>
												<th class="table-item-2c">分成比例</th>
												<th class="table-item-2c">添加人</th>
												<th class="table-item-2c">修改人</th>
												<th class="table-item-8c">修改时间</th>
												<th class="am-text-center">操作</th>
											</tr>
										</thead>
										<tbody id="agent_grid">
										<?php foreach($data_source['data_list'] as $k => $v):?>
											<?php foreach($v->gains as $g):?>
											<tr id='agent_<?=$v->agent_id;?>_<?=$g->cate_id;?>'>
												<td><span class="am-badge am-radius <?=$v->level_icon;?>" title="<?=$v->level_name;?>"><?=$v->level_id;?></span> <?=$v->ent_name;?></td>
												<td><?=$g->category;?></td>
												<td><span class="rate"><?=$g->rate_lvl;?></span> %</td>
												<td class="creator"><?=$g->creator;?></td>
												<td class="updater"><?=$g->updater;?></td>
												<td class="update_time"><?=$g->update_time;?></td>
												<td class="am-text-center"><a href="javascript:void(0)" class="am-text-danger system-agent-edit" data-settings='{"popup":"#popup-update-agent-rate", "source":"/index.php/system/agent/get/<?=$v->agent_id;?>/<?=$g->cate_id;?>"}'><i class="am-icon-pencil"></i> 修改</a></td>
											</tr>
											<?php endforeach;?>
										<?php endforeach;?>
										</tbody>
									</table>
<!-- S Pagination -->
									<!-- item page navigation -->
									<div class="am-g am-cf" id="agent_pagination">
										<div class="am-u-sm-12 am-u-md-3"><ul class="am-pagination"><li><a style="cursor:default">共 <span id="agent_grid_count"><?=$data_source['total_rows'];?></span> 条记录</a></li></ul></div>
										<div class="am-u-sm-12 am-u-md-9" id="agent_grid_page"><?=$pagination;?></div>
									</div>
<!-- E Pagination -->
								</div>
								<!-- E SYSTEM AGENT CONTENT -->

							</div>
						</div>
						<!-- panel end -->
					</div>
					<!-- box end -->
				</div>

				<!-- S Create Popup Category -->
				<div class="am-popup" id="popup-update-agent-rate">
					<div class="am-popup-inner  admin-box-shadow">
						<div class="am-popup-hd">
							<h4 class="am-popup-title" id="title-popup-create-cate">修改运营商收益比例</h4>
							<span data-am-modal-close class="am-close">&times;</span>
						</div>
						<div class="am-popup-bd" style="height:auto;">
							<?php echo form_open('/system/agent/update', array('id' => 'act_update_agent_gain_rate'));?>
							<input type="hidden" id="box_agent_id" name="box_agent_id" value="0" />
							<input type="hidden" id="box_cate_id" name="box_cate_id" value="0" />
							<h2 class="am-u-sm-12 am-u-md-10 am-u-md-offset-2 act-mt-10 am-text-primary"></h2>
							<div class="am-g">
								<div class="am-form am-form-horizontal">
									<div class="am-form-group">
										<label class="am-u-sm-12 am-u-md-3 am-form-label">运营商级别</label>
										<div class="am-u-sm-12 am-u-md-9 am-input-group">
											<input type="text" readonly id="box_level_name" name="box_level_name" value="" />
										</div>
									</div>
								</div>
								<div class="am-form am-form-horizontal">
									<div class="am-form-group">
										<label class="am-u-sm-12 am-u-md-3 am-form-label">收益种类</label>
										<div class="am-u-sm-12 am-u-md-9 am-input-group">
											<input type="text" readonly id="box_gain_cate" name="box_gain_cate" value="" />
										</div>
									</div>
								</div>
								<div class="am-form am-form-horizontal">
									<div class="am-form-group">
										<label class="am-u-sm-12 am-u-md-3 am-form-label">收益比例</label>
										<div class="am-u-sm-12 am-u-md-9 am-input-group">
											<input type="number" data-label="收益比例" step="0.1" id="box_gain_rate" name="box_gain_rate" placeholder="输入收益比例，小于100的数字" value=""
											data-validation="{allowBlank:false, minValue:0, maxValue:100, pattern:'\\d+(\\.\\d{2})?', patternText: '收益比例必须是数字且不能大于100', maxLength:5, label: '收益比例'}"
											/>
											<span class="am-input-group-label"><b>%</b></span>
										</div>
									</div>
								</div>
							</div>
							<?php echo form_close();?>
						</div>
						<div class="am-panel-footer am-u-sm-centered">
							<button type="button" class="am-btn am-btn-warning act-popup-close" data-settings='{"popup":"#popup-update-agent-rate", "form":"#act_update_agent_gain_rate"}'>取消</button>
							<button type="button" class="am-btn am-btn-primary" id="system-agent-rate-form-submit" data-settings='{"popup":"#popup-update-agent-rate", "form":"#act_update_agent_gain_rate"}'>确定</button>
						</div>
					</div>
				</div>


<script id="new-agent-template" type="text/x-handlebars-template">
										<tr id='agent_{{agent_id}}_{{cate_id}}'>
											<td><span class="am-badge am-radius {{level_icon}}" title="{{level_name}}">{{level_id}}</span> {{ent_name}}</td>
											<td>{{category}}</td>
											<td><span class="rate">{{rate_lvl}}</span> %</td>
											<td class="creator">{{creator}}</td>
											<td class="updater">{{updater}}</td>
											<td class="update_time">{{update_time}}</td>
											<td class="am-text-center"><a href="javascript:void(0)" class="am-text-danger system-agent-edit" data-settings='{"popup":"#popup-update-agent-rate", "source":"/index.php/system/agent/get/{{agent_id}}/{{cate_id}}"}'><i class="am-icon-pencil"></i> 修改</a></td>
										</tr>
</script>

<script id="new-agent-list-template" type="text/x-handlebars-template">
{{#list data_list}}
	{{#each gains}}
										<tr id='agent_{{../agent_id}}_{{cate_id}}'>
											<td><span class="am-badge am-radius {{../level_icon}}" title="{{../level_name}}">{{../level_id}}</span> {{../ent_name}}</td>
											<td>{{category}}</td>
											<td><span class="rate">{{rate_lvl}}</span> %</td>
											<td class="creator">{{creator}}</td>
											<td class="updater">{{updater}}</td>
											<td class="update_time">{{update_time}}</td>
											<td class="am-text-center"><a href="javascript:void(0)" class="am-text-danger system-agent-edit" data-settings='{"popup":"#popup-update-agent-rate", "source":"/index.php/system/agent/get/{{../agent_id}}/{{cate_id}}"}'><i class="am-icon-pencil"></i> 修改</a></td>
										</tr>
	{{/each}}
{{/list}}
</script>
